.App {
  text-align: center;
}

.wrapper {
  display: flex;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin: 2rem;
  padding: 1rem;
  gap: 0.5rem;
  align-items: center;
}


.datas {
  text-decoration: none;
}


.user-data {
  text-decoration: none;
    display: grid;
    grid-auto-flow: column;
    margin-left: 1rem;
    margin-right: auto;
  }
  

.profile-pic {
    width: 100px;
    border: 2px solid black;
  }

  
  

  .user-data-li {
    text-decoration: none;
    margin: 2rem;
    align-items: center;
    padding-top: 1rem;
  }


  .hobbies {
      display: flex;
      /* flex-direction: column; */
      margin-right: 1rem;
      font-size: large;
      font-size: bold;
      color: black;
      padding: 0.5rem;
    
  }

  .hobbies-wrapper {
   margin: 1rem;
  }

  .hobbies-wrapper-li {
    text-decoration: none;
    padding: 1rem;
  }
  

  .icon {
     width: 70px;
     border: 2px solid black;
  }